/* Put your style information here! */
body {
  background: rgba(174, 168, 211, 0.4) /*  background with 30% opacity */
}

.responsive {
  max-width: 150%;
  height: auto;
}

p {
  margin: 35px 70px 50px;
}

h2 {
  margin: 35px 70px 50px;
  text-align: center;
}


ul {
    margin: 35px 70px 50px;
    text-align: center;
    list-style-position: inside;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
