/* Put your style information here! */
body {
  background: rgba(174, 168, 211, 1) /*  background with 30% opacity */
}

.responsive {
  max-width: 100%;
  height: auto;
}

p {
  margin: 35px 70px 50px;
}

h2 {
  margin: 35px 70px 50px;
}

li {
  margin: 35px 70px 50px;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
