/* Put your style information here! */
body {
  background: rgba(174, 168, 211, 0.4) /*  background with 50% opacity */
}

.responsive {
  max-width: 80%;
  height: 150%;
}


p {
  margin: 35px 70px 50px;
  text-align: center;
}

h2 {
  margin: 35px 70px 50px;
  text-align: center;
}

li {
    margin: 35px 70px 50px;
    text-align: center;
    list-style-position: inside;
}

ul {
    margin: 35px 70px 50px;
    text-align: center;
    list-style-position: inside;
}
//
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
//

}
